@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-style: none;
}

body {
    background-color: #20242E;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

#banner1 {
    height: 320px;
}

#banner {
    background-image: url('../imagens/banner1.webp');
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 100%;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: #4B5063;
}

#nav1 {
    width: 100%;
    height: 50px;
    background-color: #4B5063;
}

#nav1 ul {
    width: 800px; 
    height: 50px; 
    margin: auto;
}

#nav1 li {
    display: inline-block;
}

#nav1 li a {
    font: normal 16px verdana; 
    padding: 0 10px; 
    color: #FFF; 
    line-height: 50px; 
    display: inline-block;
}

#nav1 ul a:hover {
    background-color: #20242E;
    transition-duration: 0.7s;
}

.linha-vert { 
    border-left: 1px solid white; 
    line-height: 50px; 
    margin: 0 5px;
}

#container {
    clear: both;
    background-color: white;
    width: 1000px;
    margin: auto;
    height: auto;
    padding-top: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

.bg-titulo {
    color: white;
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 10px;
    background-image:linear-gradient(to left, white, #0a4079, white);
}

#destaque {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 380px;
}

.ajusta-destaque {
    padding: 10px 10px 0px 10px;
}

.img {
    width: 200px;
    height: 350px;
}

#container-trailer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px 0px;
    height: 250px;
}

.ajuste-trailer1 {
    padding-right: 10px;
}

.ajuste-trailer2 {
    padding-right: 10px;
}

.img1 {
    width: 300px;
    height: 180px;
}

.img2 {
    width: 300px;
    height: 180px;
}

.img3 {
    width: 300px;
    height: 180px;
}

.texto-trailer {
    background-color: #0d253f;
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

#container-loja {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10px;
    height: 500px;
}

.ajuste-produto {
    width: 300px;
    height: 400px;
    margin: 15px 0px;
}

.texto-prod1 {
    margin-top: 15px;
}

.texto-destaque-preco {
    color: red;
}

footer {
    background-image: url('../imagens/banner2.webp');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 1000px;
    margin: auto;
}

.nav-footer {
    width: 150px; 
    float: left; 
    margin: 0 10px;
}

.titulo-footer {
    width: 150px; 
    font: bold 20px arial; 
    color: #065FBE; 
    text-align: left; 
    margin: 15px 30px;
}

.nav-footer ul li {
    width: 150px; 
    height: 20px; 
    text-align: left;
    margin: 0px 30px;
}

.nav-footer ul li a {
    font:normal 15px arial; 
    color:white;
}

#redes-sociais {
    width: 100%; 
    height: 70px; 
    background: #20242E;
    margin: auto;
}

.icones-rs {
    width: 100%; 
    height: 70px; 
    margin: auto;
}

.ajusta-img {
    margin:15px;
    height: 40px;
}